fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt<5
yfinance
pandas
scikit-learn
numpy
matplotlib
python-dotenv
pydantic-settings
requests
email-validator
pytest
httpx2
